@use "util";
@use "var";
@use "animation";

@mixin box($theme: white) {
    @include util.rounded($offset: 5px);
    background-color: $theme;
}

@mixin content-wrapper($width, $maxWidth, $marginTop) {
    width: $width;
    max-width: $maxWidth;
    margin-top: $marginTop;
    @include util.center-block();
}

.container {
    @include util.center-block();
    @include util.rounded;
}

.menu-wrapper, .contact-wrapper {
    position: relative;
    width: 80%;
    line-height: initial;
    color: lightgray;
}

.menu-proj-wrapper {
    display: grid;
    column-gap: 2rem;
    row-gap: 2rem;
}

.page-wrapper {
    width: 100%;
    height: auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
    background-color: white;
}

.project-wrapper {
    @include content-wrapper(80%, 600px, 50px);
}

.blog-wrapper {
    @include content-wrapper(90%, 900px, 50px);
}

.guestbook-wrapper {
    @include content-wrapper(80%, 768px, 50px);
    height: 1000px;
}

.single-blog-wrapper {
    @include content-wrapper(80%, 900px, 50px);
    height: 1000px;
}

.lightgray-box {
    @include box($theme: var.$light-gray);
}

@media screen and (min-width: 576px) {
    .page-wrapper {
        width: 80%;
    }
}

@media (min-width: 768px) {
    .menu-wrapper {
        width: 720px;
    }
}

@media (min-width: 1200px) {
    .project-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
        max-width: clamp(900px, 1000px + 10vw, 1400px);
        width: 90%;
        align-items: stretch;
    }
}
