@use "util";
@use "var";
@use "animation";

@mixin box($theme: white) {
    @include util.rounded($offset: 5px);
    background-color: $theme;
}

@mixin content-wrapper($width, $maxWidth, $marginTop) {
    width: $width;
    max-width: $maxWidth;
    margin-top: $marginTop;
    @include util.center-block();
}

.container {
    @include util.center-block();
    background-color: white;
    @include util.rounded;
}

.menu-wrapper {
    width: 80%;
    height: 550px;
}
.mobile-landscape {
    position: relative;
    margin-top: 10%;
    margin-bottom: 10%;
}

.page-wrapper {
    width: 100%;
    height: auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.project-wrapper {
    @include content-wrapper(80%, 600px, 50px);
}

.blog-wrapper {
    @include content-wrapper(90%, 900px, 50px);
}

.guestbook-wrapper {
    @include content-wrapper(80%, 768px, 50px);
    height: 1000px;
}

.single-blog-wrapper {
    @include content-wrapper(80%, 900px, 50px);
    height: 1000px;
}

.lightgray-box {
    @include box($theme: var.$light-gray);
}

@media screen and (min-width: 321px) {
    .page-wrapper {
        width: 80%;
    }
}

@media (min-width: 376px) {
    .menu-wrapper {
        height: 80%;
    }
}

@media screen and (min-width: 376px) and (max-height: 992px) {
    .menu-wrapper {
        height: 600px;
    }
}

@media (min-width: 768px) {
    .menu-wrapper {
        width: 720px;
        height: 600px;
    }
}
