@use "decorate";

.container {
    width: 80%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    @include decorate.rounded;
}

@media (min-width: 576px) {
    .container {
        height: 58.6%;
    }
}

@media (min-width: 768px) {
    .container {
        width: 720px;
        height: 600px;
    }
}
