@use "var";

/* Bootstrap-like spacing */
$spacer: 1rem;
$factors: (
    0: 0,
    1: .25,
    2: .5,
    3: 1,
    4: 1.5,
    5: 3,
);
$directions: (
    "t": "top",
    "b": "bottom",
    "s": "left",
    "e": "right",
);


@each $key, $direction in $directions {
    @each $id, $factor in $factors {
        .m#{$key}-#{$id} {
            margin-#{$direction}: calc($spacer) * $factor !important;
        }
        .p#{$key}-#{$id} {
            padding-#{$direction}: calc($spacer) * $factor !important;
        }
    }
}

@each $id, $factor in $factors {
    .m-#{$id} {
        margin: calc($spacer) * $factor !important;
    }
    .p-#{$id} {
        padding: calc($spacer) * $factor !important;
    }
}

%flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-wrap($wrap: wrap) {
    display: flex;
    flex-wrap: $wrap;
}

@mixin rounded($offset: 0px) {
    border-radius: var.$radius + $offset;
}

@mixin center-block($m: auto, $mode: "margin") {
    #{$mode}-left: $m;
    #{$mode}-right: $m;
}

@mixin overlay($color) {
    background: $color;
    position: absolute;
    width: 100dvw;
    height: 100dvh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.center {
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.d-flex {
    display: flex !important;
}

.is-current {
    display: block !important;
}
