@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

// $background-url: "../background.jpg";
$background-url: "../../public/background.webp";
$avatar-url: "tuslipid.jpg";
$blog-font: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
$header-font-blog: $blog-font;
$body-font-blog: $blog-font;
$header-font: 'Montserrat', sans-serif;
$body-font: 'Courier Prime', monospace;
$radius: 5px;
$gray: #8c8c8c;
$light-gray: #cbcbcb;
$default-atag-color: #0d6efd;
$navbar-bg-color: #383838;
$navbar-stick-color: #191717;
