@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

$background-url: "/background.webp";
$avatar-url: "tuslipid.jpg";

/* Font */
$default-font: -apple-system,BlinkMacSystemFont,"Inter",sans-serif;
$blog-font: "Ubuntu",system-ui,sans-serif;
$code-blog-font: "JetBrains Mono",monospace;
$header-font-menu: "JetBrains Mono",monospace;
$body-font-menu: "JetBrains Mono",monospace;
$header-font-blog: $blog-font;
$body-font-blog: $blog-font;
$header-font: $default-font;
$body-font: $default-font;
$conpyright-font: $header-font-menu;
$default-header-font-size: clamp(1.25rem, 1.29rem + 1.07vw, 1.75rem);
$default-body-font-size: clamp(1rem, 0.96rem + 0.18vw, 1.125rem);

$radius: 5px;
$text-dark: aliceblue;
$text-menu: #E2E8F0;
$background-dark: #34383d;
$gray: #8c8c8c;
$light-gray: #cbcbcb;
$default-atag-color: #0d6efd;
$navbar-bg-color: #383838;
$navbar-stick-color: #191717;
$overlay-color: #1E293B;
