$codeblock-background: #282c34;
$codeblock-color: #abb2bf;
$codeinline-background: #f6f8fa;

%markdown-theme {
    * {
        margin: revert;
        padding: revert;
        list-style-type: revert;
    }

    p {
        line-height: 1.25rem;
    }

    code, pre {
        border-radius: 5px;
        background-color: $codeblock-background;
        color: $codeblock-color;
    }
    
    code {
        padding: 2px 5px;
    }
    
    pre {
        border: 1px solid #CCCCCC;
        line-height: 1.25em;
        overflow: auto;
        padding: 6px 10px;

        code {
            display: block;
        }
    }

    blockquote {
        margin: 0;
        border-left: 5px solid #7a7a7a;
        font-style: italic;
        padding: 1.33em;
        text-align: left;
    }

    table {
        padding: 1rem 0;
    }

    th, td {
        padding: 6px 13px;
        border: 1px solid black;
    }

    hr {
        background: black;
    }
}

.single-blog-wrapper {
    @extend %markdown-theme;
}