@use 'components/image';
@use 'components/text';
@use 'components/line';
@use 'components/button';
@use 'components/navbar';
@use 'general/var';
@use 'general/grid';
@use 'general/container';
@use 'general/util';

*
{
    margin: 0;
    padding: 0;
    // font-size: 100%;
    box-sizing: border-box;
}

body {
    background-image: url(var.$background-url);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: var.$body-font;
}

ul {
    list-style-type: none;
}

section {
    padding-bottom: 50px;
}

.header-grp {
    padding: 5%;
    text-align: center;
}

.content-grp {
    padding-left: 5%;
    padding-right: 5%;
}

.social-media-grp {
    margin-top: 7.5%;
}

.nav-btn-grp {
    margin-top: 10%;
    
    a {
        text-decoration: none;
        color: #000;
    }
}

.menu-copyright {
    @extend %copyright-txt;
    position: absolute;
    bottom: 1rem;
}

.page-copyright {
    @extend %copyright-txt;
    position: relative;
}

@media (min-width: 576px) {
    .social-media-grp {
        margin-top: 5%;
    }
    .nav-btn-grp {
        margin-top: 5%;
    }
}

@media screen and (min-width: 996px) {
    .works-grp {
        margin-left: 100px;
        margin-right: 100px;
    }
}

@media screen and (min-width: 1200px) {
    .works-grp {
        margin-left: 150px;
        margin-right: 150px;
    }
}