@use 'components/image';
@use 'components/text';
@use 'components/line';
@use 'components/button';
@use 'components/navbar';
@use 'components/card';
@use 'components/form';
@use 'general/var';
@use 'general/grid';
@use 'general/container';
@use 'general/util';

*
{
    margin: 0;
    padding: 0;
    // font-size: 100%;
    box-sizing: border-box;
}

body {
    background-image: url(var.$background-url);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: var.$body-font;
}

ul {
    list-style-type: none;
}

section {
    padding-bottom: 50px;
}

.header-grp {
    padding: 5%;
    text-align: center;
}

.content-grp {
    @include util.center-block(5%, "padding");
}

.social-media-grp {
    margin-top: 7.5%;
}

.oauth-grp {
    text-align: center;

    div {
        @extend %flex-center;
    }

    button {
        font-family: var.$header-font;
    }
}

.nav-btn-grp {
    margin-top: 10%;
    
    a {
        text-decoration: none;
        color: #000;
    }
}

.edu-content-grp {
    width: 83.33%;
}

.menu-copyright {
    @extend %copyright-txt;
    position: absolute;
    bottom: 1rem;
    display: none;
}

.page-copyright {
    @extend %copyright-txt;
    position: relative;
}

.proj-github-ref {
    display: none;
}

@media screen and (min-width: 376px) {
    .menu-copyright {
        display: block;
    }
}

@media (min-width: 576px) {
    .social-media-grp {
        margin-top: 5%;
    }
    .nav-btn-grp {
        margin-top: 5%;
    }
    .proj-github-ref {
        display: block;
    }
}

@media screen and (min-width: 996px) {
    .works-grp {
        @include util.center-block(100px);
    }
    .oauth-grp {
        @include util.center-block(10%, "padding");
    }
}

@media screen and (min-width: 1200px) {
    .works-grp {
        @include util.center-block(150px);
    }
    
    .proj-tool-list {
        flex-wrap: nowrap;
    }

    .content-grp {
        @include util.center-block();
        max-width: 900px;
        padding-left: 0;
        padding-right: 0;
    }
}