@use '../abstracts' as *;

.about {
    &-l {
        &-wrapper {
            &__proj {
                display: flex;
                flex-direction: column;
                row-gap: 2rem;
            }

            &__edu-content {
                width: 83.33%;
            }
        }
    }

    &-c {
        &-box__me {
            @include box($theme: var(--md-sys-color-surface-dim));
        }

        &-btn {
            &__group-skill {
                justify-content: space-between;
                column-gap: 1rem;
                row-gap: 1rem;
                display: grid;
                grid-template-columns: repeat(12, 1fr);
            }

            &__skill {
                @include shape-btn(1, 100%);
                max-width: 150px;
                font-size: 12px !important;
                color: black;
                transition: scale 150ms ease-out;
                grid-column-start: span 3;

                #name {
                    width: 66.66%;
                    text-align: center;
                    display: none;
                }

                &:hover {
                    scale: 1.1;
                    text-decoration: none;
                    font-weight: 650;
                }
            }
        }

        &-card {
            @include project-card;

            &__href {
                align-self: flex-end;
            }
        }

        &-img {
            &__edu {
                width: 16.66%;
                text-align: end;
            }
        }
    }
}

@media (min-width: 321px) {
    .about-c-btn__skill {
        grid-column-start: span 2;
    }
}

@media (min-width: 576px) {
    .about-c-btn__skill {
        aspect-ratio: 3;
        grid-column-start: span 3;

        #name {
            display: block;
        }
    }
}

@media (min-width: 768px) and (max-width: 850px) {
    .about-c-btn__group-skill {
        column-gap: .5rem;
    }
}
