@use "../abstracts" as *;

.blog {
  &-c {
    &-toc {
      @include content-wrapper($maxWidth: 40em);
      text-wrap: balance;

      &__h1 {
        list-style-type: "🍚 " !important;
      }

      &__h2 {
        list-style-type: "🧋 " !important;
      }

      &__h3 {
        margin-left: 20px !important;
        list-style-type: "🍯 " !important;
      }
    }

    &-content {
      @include content-wrapper($maxWidth: 40em);
      overflow-x: auto;
    }

    &-img {
      &__extend {
        width: 100dvw;
        height: auto;
        z-index: 3;
        opacity: 1 !important;
        animation: imgExtend 250ms cubic-bezier(0.16, 1, 0.3, 1);
        max-width: max(50dvw, 720px);
      }
    }
  }
}

@media (min-width: 768px) {
  .blog {
    &-c {
      &-toc {
        position: sticky;
        top: 3rem;
        max-height: 65dvh;

        &__details {
          overflow: auto;
          max-height: inherit;
          direction: rtl;
          padding-left: 0.5rem;
        }

        details {
          direction: ltr;
        }
      }
    }
  }
}

@keyframes imgExtend {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
