@use '../abstracts' as *;

.blog {
    &-c {
        &-toc {
            @include content-wrapper(100%, 40em, 50px);

            &__h1 {
                list-style-type: '🍚 ' !important;
            }

            &__h2 {
                margin-left: 20px !important;
                list-style-type: '🍙 ' !important;
            }

            &__h3 {
                margin-left: 40px !important;
                list-style-type: '🍣 ' !important;
            }
        }

        &-content {
            @include content-wrapper(80%, 40em, 50px);
        }

        &-txt {
            &__header {
                @include select-header-txt($font: $HEADER_FONT_BLOG, $size: 20px);
            }

            &__body {
                font-family: $BODY_FONT_BLOG;
                line-height: 1.5;
            }
        }

        &-img {
            &__extend {
                width: auto;
                height: auto;
                z-index: 9999;
                opacity: 1 !important;
            }
        }
    }
}

@media (min-width: 576px) {
    .blog-c-txt__header {
        font-size: 24px;
    }
}
