@use '../abstracts' as *;

.blog {
    &-l {
        &-wrapper {
            @include content-wrapper(80%, 40em, 50px);
        }
    }

    &-c {
        &-txt {
            &__header {
                @include select-header-txt($font: $HEADER_FONT_BLOG, $size: 20px);
            }

            &__body {
                font-family: $BODY_FONT_BLOG;
                line-height: 1.5;
            }
        }

        &-img {
            &__extend {
                width: 90%;
                max-width: 960px;
                height: auto;
                max-height: 100dvh;
                z-index: 9999;
                opacity: 1 !important;
            }
        }
    }
}

@media (min-width: 576px) {
    .blog-c-txt__header {
        font-size: 24px;
    }
}
