@use "../abstracts" as *;

%common_blogs_button {
  @include set-component-color(var(--md-sys-color-primary), var(--md-sys-color-on-primary));
  transition: all 300ms ease-in-out;

  &:hover {
    @include set-component-color(
      var(--md-sys-color-secondary),
      var(--md-sys-color-on-secondary)
    );
    text-decoration: none;
  }
}

%common_tag_button {
  min-width: 25%;
  margin-top: 1rem;
  margin-right: 0.5rem;
  border: none;
  border-radius: 1rem;
  padding: 0.25rem 1rem;
  cursor: pointer;
}

.blogs {
  &-l {
    &-wrapper {
      @include content-wrapper($maxWidth: 40rem);
    }
  }

  &-c {
    &-btn {
      &__read-more {
        display: flex;
        justify-content: center;
        margin-top: auto;
        height: 20%;

        a {
          @extend %flex-center;
          @extend %common_blogs_button;
          @include rounded(11px);
          padding: 0.25rem 1rem;
        }
      }

      &__tag {
        @extend %common_blogs_button;
        @extend %common_tag_button;

        &-active {
          @extend %common_tag_button;
          @include set-component-color(
            var(--md-sys-color-secondary),
            var(--md-sys-color-on-secondary)
          );
        }
      }
    }

    &-card {
      @include rounded(10);
      flex-direction: column;
      flex-wrap: nowrap;
    }
  }
}

@media (min-width: 576px) {
  .blogs-c-btn__read-more {
    justify-content: flex-end;
  }
}

@media (min-width: 768px) {
  .blogs {
    aside {
      position: sticky;
      top: 65px;
      max-height: 65dvh;
    }
  }
}
