@use '../layout/wrapper';

.menu {
    &-l {
        &-wrapper {
            @extend %menu-l-wrapper;
        }

        &-grp {
            &__avatar {
                border: none;
                background-color: unset;
            }
        }
    }

    &-c {
        &-img {
            &__avatar {
                @include center-block();
                border-radius: 50%;
                cursor: pointer;
                transition: src 500ms;
            }
        }

        &-txt {
            &__header {
                @include select-header-txt($size: 24px, $font: $HEADER_FONT_MENU, $padding: 0.5rem);
            }

            &__body {
                @include select-body-txt($font: $BODY_FONT_MENU, $size: 14px);
            }
        }
    }
}

@media (max-width: 320px) {
    .menu-c-img__avatar {
        width: 100px;
    }
}

@media (min-width: 768px) {
    .menu-l-wrapper {
        width: 720px;
    }
}

