@use '../abstracts' as *;

.menu {
    &-l {
        &-wrapper {
            @extend %menu-l-wrapper;
            @include set-font($BODY_FONT_MENU, 14px);
        }

        &-grp {
            &__avatar {
                border: none;
                background-color: unset;
            }

            &__nav-btn {
                a {
                    text-decoration: none;
                }
            }
        }
    }

    &-c {
        &-img {
            &__avatar {
                @include center-block;
                border-radius: 50%;
                cursor: pointer;
                transition: src 500ms;
            }
        }
    }
}

@media (max-width: 320px) {
    .menu-c-img__avatar {
        width: 100px;
    }
}

@media (min-width: 768px) {
    .menu-l-wrapper {
        width: 720px;
    }
}

