@use '../general/util';
@use '../general/var';

@mixin shapeBtn($ratio: 1, $width: auto) {
    aspect-ratio: $ratio;
    width: $width;
    cursor: pointer;
}

.btn {
    @extend %flex-center;
    background-color: #fff;
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
    border: 1px solid var.$light-gray;
    opacity: .8;
    @include util.rounded;

    &:hover {
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        border: none;
        opacity: 1;
    }
}

.btn-square {
    @include shapeBtn($width: 2rem);
}

.btn-rect {
    @include shapeBtn(2, 4.6875rem);
}

.btn-grp {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    row-gap: 0.5rem;

    a {
        margin: 0 0.625rem 0 0.625rem;
        font-size: 12px;
    }
}

.btn-skill {
    @include shapeBtn(1, 3rem);
    font-size: 10px !important;
    color: black;
    transition: scale 150ms ease-out;

    #name {
        width: 66.66%;
        text-align: center;
        display: none;
    }

    &:hover {
        scale: 1.1;
        text-decoration: none;
        font-weight: 650;
    }
}

.btn-oauth-box {
    width: 100%;
}

.btn-oauth {
    @include shapeBtn(6, 80%);
    @include util.rounded(20);
}

.btn-oauth-github {
    background-color: black;
    box-shadow: none;

    .oauth-txt {
        color: white;
    }
}

.btn-oauth-google {
    box-shadow: none;
}

.read-more-btn {
    display: flex;
    justify-content: center;
    margin-top: auto;
    height: 20%;

    a {
        @extend %flex-center;
        @include util.rounded(10px);
        background-color: var.$light-gray;
        color: black;
        width: 16.67%;
        min-width: 120px;
        height: 100%;
        min-height: 30px;
        transition: all 300ms ease-in-out;

        &:hover {
            background-color: var.$gray;
            color: white;
            text-decoration: none;
        }
    }
}

@media (min-width: 320px) {
    .btn-square {
        width: 3rem;
    }
}

@media (min-width: 576px) {
    .btn-square {
        width: 4rem;
    }

    .btn-rect {
        width: 6.25rem;
    }

    .btn-grp {
        a {
            font-size: 16px;
        }
    }

    .btn-skill {
        @include shapeBtn(3, 150px);
        font-size: 12px !important;

        #name {
            display: block;
        }
    }

    .read-more-btn {
        justify-content: flex-end;
        padding-right: 1.5rem;
    }
}

@media screen and (min-width: 768px) {
    .btn-oauth {
        aspect-ratio: 5;
    }
}
