@use '../general/util';
@use '../general/var';

.card {
    @include util.flex-wrap(wrap);
    width: 100%;

    &>*{
        display: inherit;
        width: 100%;
    }
}

.card-proj {
    @include util.rounded(10);
    aspect-ratio: 2;
    border: 1px solid var.$light-gray;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.25);
    transition: scale 250ms ease-in-out;

    &:hover {
        scale: 1.2;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    }
}

.proj-description {
    flex-direction: column;
}

.proj-tool-list {
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
}

.proj-href {
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
}

@media screen and (min-width: 768px) {
    .card-proj {
        box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
    }
}