@use "../general/util";

img {
    max-width: 100%;
    height: auto;
}

.avatar {
    border-radius: 50%;
}

.icon {
    @extend %flex-center;
    width: 33.33%;
    
    img {
        max-width: 32px;
    }
}

.flex-image {
    @extend %flex-center;
    justify-content: center;
}

@media (max-width: 320px) {
    .avatar {
        width: 100px;
    }
}