@use '../general/var';
@use '../general/util';
@use '../general/animation';


.navbar {
    @include util.rounded;
    width: 100%;

    button {
        @include util.rounded;
        width: 45px;
        aspect-ratio: 1/1;
        background-color: var.$navbar-bg-color;
        border: none;
        cursor: pointer;
        position: absolute;

        &::after {
            content: '';
            position: absolute;
            width: 66.67%;
            height: 0.5rem;
            background-color: var.$navbar-stick-color;
            box-shadow: 0 10px 0 var.$navbar-stick-color, 0 20px var.$navbar-stick-color;
            left: 18%;
            top: 18%;
        }
    }
}

.navbar-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.navbar-menu {
    @include util.rounded;
    background-color: var.$navbar-bg-color;
    width: 100%;
    display: none;

    li {
        cursor: pointer;

        a {
            padding: 0.5rem;
            font-size: 14px;
            text-decoration: none;
            color: white;
            width: 100%;
            height: auto;
            display: block;
        }

        &:hover {
            background-color: var.$gray;
            opacity: 0.6;
        }
    } 
}

.menu-animation {
    @include animation.animation(fadeInDown, 300ms);
}

.tab-list {
    // @include util.flex-wrap(nowrap);

    .is-current {
        background-color: var.$light-gray;
        border-left: none;
        border-bottom: 2px solid var.$gray;
        font-weight: bold;
    }
}

.vertical-tab {
    height: 50px;
    width: 100%;
    border: none;
    border-bottom: 2px solid var.$light-gray;
    background-color: white;
    cursor: pointer;
    font-family: var.$header-font;
    text-align: start;

    &:hover {
        font-weight: bold;
    }
}

.tab-content {
    height: 400px;

    .content {
        display: none;
    }
}

@media screen and (min-width: 320px) {
    .tab-content {
        height: 320px;
    }
}

@media screen and (min-width: 768px) {
    .navbar-wrap {
        top: 25px;
        left: 25px;
        max-width: 150px;
    }
    
    .navbar-menu {
        width: 150px;
    }

    .menu-animation {
        animation-name: fadeInUp;
    }

    .vertical-tab {
        height: 50px;
        width: 100%;
        border: none;
        border-left: 2px solid var.$light-gray;
    }

    .tab-list {
        display: block;

        .is-current {
            border-bottom: none;
            border-left: 2px solid var.$gray;
        }
    }

    .tab-content {
        height: 250px;
    }
}