@use '../general/var';

a {
    text-decoration: none;
    color: var.$default-atag-color;
}

.header-txt {
    padding: 0.5rem;
    font-size: 20px;
    font-family: var.$header-font;
}

.description-txt {
    font-size: 12px;
    font-family: var.$body-font;
}

.copyright-txt {
    position: absolute;
    width: 100%;
    bottom: 1rem;
    text-align: center;
    padding: 0 0.5rem 0 0.5rem;
    font-size: 10px;
    font-family: var.$header-font;
}

@media (min-width: 576px) {
    .header-txt {
        font-size: 24px;
    }
    .description-txt {
        font-size: 14px;
    }
}