@use '../general/var';

.header-txt {
    padding: 0.5rem;
    font-size: 20px;
    font-family: var.$header-font;
}

.description-txt {
    margin-top: 1rem;
    font-size: 12px;
    font-family: var.$body-font;
}

.copyright-txt {
    text-align: center;
    margin-top: 1.875rem;
    font-size: 10px;
    font-family: var.$header-font;

    a {
        text-decoration: none;
        color: var.$default-atag-color;
    }
}

@media (min-width: 568px) {
    .header-txt {
        font-size: 24px;
    }
    .description-txt {
        font-size: 14px;
    }
}