@use "../abstracts" as *;

.sl {
  &-l {
    &-wrapper {
      color: var(--md-sys-color-on-surface);
      width: 100%;
      height: auto;
      margin-bottom: 4rem;
    }

    &-container {
      @include center-block;

      header {
        padding: 5%;
        text-align: center;
      }

      main {
        @include center-block(16px, "padding");
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .sl-l-container {
    main {
      @include center-block;
      padding-left: 0;
      padding-right: 0;
    }

    &__md {
      main {
        max-width: 960px;
      }
    }

    &__lg {
      main {
        max-width: 1200px;
      }
    }
  }
}

@media (min-width: 1980px) {
  .sl-l-container {
    &__md {
      main {
        max-width: 1200px;
      }
    }

    &__md {
      main {
        max-width: 1600px;
      }
    }
  }
}
