@use '../abstracts' as *;

#go-back {
    @include center-block;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    color: black;

    &:hover {
        font-weight: bold;
    }
}

.sl {
    &-c {
        &-btn {
            @extend %flex-center;
            background-color: #fff;
            box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
            border: 1px solid $LIGHT_GRAY;
            opacity: .8;
            @include rounded;

            &:hover {
                box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
                border: none;
                opacity: 1;
            }

            &__square {
                @include shape-btn($width: 2rem);
            }

            &__rect {
                @include shape-btn(2, 4.6875rem);
            }

            &__group {
                @extend %btn-group;
                justify-content: center;

                a, button {
                    margin: 0 0.625rem 0 0.625rem;
                    font-size: 12px;
                }
            }
        }
    }
}

@media (min-width: 320px) {
    .sl-c-btn__square {
        width: 3rem;
    }
}

@media (min-width: 576px) {
    .sl-c-btn__square {
        width: 4rem;
    }

    .sl-c-btn__rect {
        width: 6.25rem;
    }

    .sl-c-btn__group {
        a, button {
            font-size: 16px;
        }
    }
}
