@use "../abstracts" as *;

#go-back {
  @include center-block;
  text-align: center;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    font-weight: bold;
  }
}

.sl {
  &-c {
    &-btn {
      @extend %flex-center;
      @include set-component-color(
        var(--md-sys-color-secondary-container),
        var(--md-sys-color-on-secondary-container)
      );
      @include rounded;
      opacity: 0.8;

      &:hover {
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
        border: none;
        opacity: 1;
      }

      &__square {
        @include shape-btn($width: 2rem);
      }

      &__rect {
        @include shape-btn(2, 4.6875rem);
      }

      &__group {
        @extend %btn-group;
        justify-content: center;

        a,
        button {
          margin: 0 0.625rem 0 0.625rem;
          font-size: 12px;
        }
      }

      &__go-top {
        @include set-component-color(
          var(--md-sys-color-primary-container),
          var(--md-sys-color-on-primary-container)
        );

        position: fixed;
        right: 2rem;
        bottom: 2rem;
        z-index: 2;
        width: 4rem;
        aspect-ratio: 1;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

        &:hover {
          @include set-component-color(
            var(--md-sys-color-primary),
            var(--md-sys-color-on-primary)
          );
        }
      }

      &__theme {
        @include set-component-color(inherit, var(--md-sys-color-on-surface));
        border: none;
        cursor: pointer;
      }
    }
  }
}

@media (min-width: 320px) {
  .sl-c-btn__square {
    width: 3rem;
  }
}

@media (min-width: 576px) {
  .sl-c-btn__square {
    width: 4rem;
  }

  .sl-c-btn__rect {
    width: 6.25rem;
  }

  .sl-c-btn__group {
    a,
    button {
      font-size: 16px;
    }
  }
}
