@use '../abstracts' as *;

.sl {
    &-c {
        &-card {
            @include rounded(10);
            @extend %card-bodering;

            display: flex;
            flex-direction: column;
            width: 100%;
            background-color: var(--md-sys-color-surface-container-low);

            &>*{
                display: inherit;
                width: 100%;
            }

            &__href {
                li {
                    float: left;
                }
            }
        }
    }
}
