@use '../abstracts' as *;

.sl {
    &-c {
        &-card {
            @include flex-wrap;
            width: 100%;
            background-color: white;

            &>*{
                display: inherit;
                width: 100%;
            }

            &__proj {
                &-description {
                    flex-direction: column;
                }

                &-tool-list {
                    @include flex-wrap;
                    font-size: 12px;
                }

                &-href {
                    display: flex;
                    justify-content: flex-end;
                    margin-top: auto;
                }
            }
        }
    }
}
