@use '../abstracts' as *;

%copyright-txt {
    width: 100%;
    text-align: center;
    padding: 0 0.5rem 0 0.5rem;
    font-family: $COPYRIGHT_FONT;
}

.sl {
    &-c {
        &-copyright {
            &__menu {
                @extend %copyright-txt;
                position: relative;
                display: block;
                color: $TEXT_MENU;

                a {
                    color: bisque;
                }
            }

            &__page {
                @extend %copyright-txt;
                position: relative;
            }
        }
    }
}
