@use "../abstracts" as *;

.sl {
    &-c {
        &-icon {
            @extend %flex-center;
            width: 33.33%;

            img {
                max-width: 32px;
            }
        }

        &-img {
            &__flex {
                @extend %flex-center;
                justify-content: center;
            }
        }
    }
}
