hr {
  background: linear-gradient(
    to right,
    var(--md-sys-color-inverse-on-surface),
    var(--md-sys-color-inverse-surface),
    var(--md-sys-color-inverse-on-surface)
  );
  height: 1px;
  border: none;
  margin: 2rem 10rem 0 10rem;
}

@media (max-width: 576px) {
  hr {
    margin-left: 10%;
    margin-right: 10%;
  }
}
