@use "../abstracts" as *;

.sl {
  &-c {
    &-nav {
      @include set-component-color(
        var(--md-sys-color-surface-container-highest),
        var(--md-sys-color-on-surface)
      );
      position: sticky;
      top: 0;
      z-index: 2;
      display: none;

      ul {
        li {
          display: inline;
          padding-right: 1rem;

          a {
            color: var(--md-sys-color-on-surface);
          }
        }
      }
    }

    &-navmobile {
      @include rounded;
      width: 100%;

      &__wrap {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;

        #nav {
          border-radius: 0 0 5px 0;
          width: 45px;
          aspect-ratio: 1/1;
          background-color: var(--md-sys-color-secondary-container);
          border: none;
          cursor: pointer;
          position: absolute;

          &::after {
            content: "";
            position: absolute;
            width: 66.67%;
            height: 6px;
            background-color: var(--md-sys-color-on-secondary-container);
            box-shadow: 0 10px 0 var(--md-sys-color-on-secondary-container),
              0 20px var(--md-sys-color-on-secondary-container);
            left: 18%;
            top: 18%;
          }
        }
      }

      &__menu {
        @include set-component-color(
          var(--md-sys-color-surface-container-highest),
          var(--md-sys-color-on-surface),
        );
        border-radius: 0 0 5px 5px;
        width: 100%;
        display: none;

        li {
          cursor: pointer;

          a {
            padding: 0.5rem;
            font-size: 14px;
            text-decoration: none;
            width: 100%;
            height: auto;
            display: block;

            &:hover {
              @include set-component-color(
                var(--md-sys-color-secondary),
                var(--md-sys-color-on-secondary)
              );
            }
          }
        }
      }
    }

    &-txt {
      &__navbar {
        @include set-font($font: $BODY_FONT_MENU, $size: 14px);
      }
    }
  }
}

@media screen and (min-width: 320px) {
}

@media screen and (min-width: 768px) {
  .sl-c-nav {
    display: block;
  }

  .sl-c-navmobile {
    display: none;
  }
}
