@use "../abstracts" as *;

.sl {
  &-c {
    &-navbar {
      @include rounded;
      width: 100%;

      &__wrap {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;

        button {
          border-radius: 0 0 5px 0;
          width: 45px;
          aspect-ratio: 1/1;
          background-color: $NAVBAR-BG-COLOR;
          border: none;
          cursor: pointer;
          position: absolute;

          &::after {
            content: "";
            position: absolute;
            width: 66.67%;
            height: 0.5rem;
            background-color: $NAVBAR-STICK-COLOR;
            box-shadow: 0 10px 0 $NAVBAR-STICK-COLOR, 0 20px $NAVBAR-STICK-COLOR;
            left: 18%;
            top: 18%;
          }
        }
      }

      &__menu {
        border-radius: 0 0 5px 5px;
        background-color: $NAVBAR-BG-COLOR;
        width: 100%;
        display: none;

        li {
          cursor: pointer;

          a {
            padding: 0.5rem;
            font-size: 14px;
            text-decoration: none;
            color: white;
            width: 100%;
            height: auto;
            display: block;
          }

          &:hover {
            background-color: $GRAY;
            opacity: 0.6;
          }
        }
      }
    }

    &-txt {
      &__navbar {
        @include select-body-txt($font: $BODY_FONT_MENU, $size: 14px);
      }
    }

    &-tab {
      &__list {
        .is-current {
          background-color: var(--md-sys-color-outline-variant);
          border-left: none;
          border-bottom: 2px solid var(--md-sys-color-outline);
          font-weight: bold;
        }
      }

      &__vertical {
        @include set-component-color(var(--md-sys-color-surface), var(--md-sys-color-on-surface));
        height: 50px;
        width: 100%;
        border: none;
        border-bottom: 2px solid var(--md-sys-color-outline-variant);
        cursor: pointer;
        font-family: $DEFAULT_FONT;
        text-align: start;

        &:hover {
          font-weight: 650;
        }
      }

      &__content {
        @include center-block($m: 0.5rem, $mode: "padding");
        height: 400px;
        overflow: auto;
        padding-top: 0.5rem;

        .content {
          display: none;
        }
      }
    }
  }
}

@media screen and (min-width: 320px) {
  .sl-c-tab__content {
    height: 320px;
  }
}

@media screen and (min-width: 768px) {
  .sl-c-navbar__wrap {
    top: 25px;
    left: 25px;
    max-width: 150px;

    button {
      @include rounded;
    }
  }

  .sl-c-navbar__menu {
    @include rounded;
    width: 150px;
  }

  .sl-c-tab__vertical {
    border: none;
    border-left: 2px solid var(--md-sys-color-outline-variant);
  }

  .sl-c-tab__list {
    display: block;

    .is-current {
      border-bottom: none;
      border-left: 2px solid var(--md-sys-color-outline);
    }
  }

  .sl-c-tab__content {
    height: 320px;
    padding-top: 0;
  }
}
