@use '../abstracts' as *;

%copyright-txt {
    width: 100%;
    text-align: center;
    padding: 0 0.5rem 0 0.5rem;
    font-size: 12px;
    font-family: $COPYRIGHT_FONT;
}

.sl {
    &-c {
        &-txt {
            &__header {
                @include select-header-txt;

                &-proj {
                    @include select-header-txt($padding: 0.5rem, $size: 20px)
                }
            }

            &__body {
                @include select-body-txt;
            }
        }
    }
}

.sl-c-txt__body {
    @include select-body-txt;
}

@media (min-width: 576px) {
    .sl-c-txt__header-proj {
        font-size: 24px;
    }

    .sl-c-txt__body {
        font-size: 16px;
    }
}
