@mixin animation($animation, $time) {
    animation-name: $animation;
    animation-duration: $time;
}

@keyframes fadeIn {
    from {
        opacity: 0.01;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        transform: translate3d(0, 24px, 0);
        opacity: 0;
    }
    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes fadeInDown {
    from {
        transform: translate3d(0, -24px, 0);
        opacity: 0;
    }
    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes fadeInLeft {
    from {
        transform: translate3d(-24px, 0, 0);
        opacity: 0;
    }
    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.transition-menu {
    @include animation(fadeIn, 1s);
}

.transition-page {
    @include animation(fadeInUp, .3s);
}

.is-current {
    @include animation(fadeIn, 0.5s);
}

.transition-blog, .guestbook-txt {
    &>*{
        @include animation(fadeInLeft, .3s);
    }
}

.fade-in-left {
    @include animation(fadeInLeft, .3s);
}

.menu-animation {
    @include animation(fadeInDown, 300ms);
}

@media (min-width: 768px) {
    .menu-animation {
        animation-name: fadeInUp;
    }
}
