@use '../abstracts' as *;

@include createTypoScale($ratio: 'golden');

body {
    background-image: url($BACKGROUND_URL);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: $BODY_FONT;
    line-height: 1.5;
}

ul {
    list-style-type: none;
}

section {
    padding-bottom: $SECTION_GAP;
}

span {
    display: inline-block;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: fill;
}

a {
    text-decoration: none;
    color: $DEFAULT-ATAG-COLOR;

    &:hover {
        text-decoration: underline;
    }
}
