@mixin flex-wrap($wrap: wrap) {
    display: flex;
    flex-wrap: $wrap;
}

@mixin rounded($offset: 0px) {
    border-radius: var.$RADIUS + $offset;
}

@mixin center-block($m: auto, $mode: "margin") {
    #{$mode}-left: $m;
    #{$mode}-right: $m;
}

@mixin overlay($color) {
    background: $color;
    position: fixed;
    width: 100dvw;
    height: 100dvh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

@mixin box($theme: white) {
    @include util.rounded($offset: 5px);
    background-color: $theme;
}

@mixin content-wrapper($width, $maxWidth, $marginTop) {
    width: $width;
    max-width: $maxWidth;
    margin-top: $marginTop;
    @include util.center-block();
}

@mixin shape-btn($ratio: 1, $width: auto) {
    aspect-ratio: $ratio;
    width: $width;
    cursor: pointer;
}

@mixin set-font($font, $size) {
    font-size: $size;
    font-family: $font;
}

@mixin select-header-txt(
    $font: var.$HEADER_FONT,
    $padding: 0.5rem 0,
    $size: var.$DEFAULT_HEADER_FONT_SIZE
) {
    padding: $padding;
    @include set-font($font, $size);
}

@mixin select-body-txt($font: var.$BODY_FONT, $size: var.$DEFAULT_BODY_FONT_SIZE) {
    @include set-font($font, $size);
}
