$BACKGROUND_URL: "/background.webp";
$AVATAR_URL: "tuslipid.jpg";

/* Font */
$DEFAULT_FONT: -apple-system,BlinkMacSystemFont,"Inter",sans-serif;
$CODE_BLOG_FONT: "JetBrains Mono",monospace;
$HEADER_FONT_MENU: "JetBrains Mono",monospace;
$BODY_FONT_MENU: "JetBrains Mono",monospace;
$COPYRIGHT_FONT: $HEADER_FONT_MENU;
$DYNAMIC_FONT_SIZE: clamp(1rem, 0.96rem + 0.18vw, 1.125rem);

$RADIUS: 5px;
$SECTION_GAP: 50px;
$TEXT_DARK: aliceblue;
$TEXT_MENU: #E2E8F0;
$BACKGROUND_DARK: #34383d;
$GRAY: #8c8c8c;
$LIGHT_GRAY: #cbcbcb;
$GREEN: #4e9a06;
$DEFAULT-ATAG-COLOR: #0d6efd;
$NAVBAR-BG-COLOR: #383838;
$NAVBAR-STICK-COLOR: #191717;
$OVERLAY_COLOR: #1E293B;
