$BACKGROUND_URL: "/background.webp";
$AVATAR_URL: "tuslipid.jpg";

/* Font */
$DEFAULT_FONT: -apple-system,BlinkMacSystemFont,"Inter",sans-serif;
$CODE_BLOG_FONT: "JetBrains Mono",monospace;
$HEADER_FONT_MENU: "JetBrains Mono",monospace;
$BODY_FONT_MENU: "JetBrains Mono",monospace;
$COPYRIGHT_FONT: $HEADER_FONT_MENU;

$RADIUS: 5px;
$SECTION_GAP: 50px;
$GRAY: #8c8c8c;
$NAVBAR-BG-COLOR: #383838;
$NAVBAR-STICK-COLOR: #191717;
$OVERLAY_COLOR: #1E293B;
