$BACKGROUND_URL: "/background.webp";
$AVATAR_URL: "tuslipid.jpg";

/* Font */
$DEFAULT_FONT: -apple-system,BlinkMacSystemFont,"Inter",helvetica,sans-serif;
$CODE_BLOG_FONT: "JetBrains Mono",monospace;
$HEADER_FONT_MENU: "JetBrains Mono",monospace;
$BODY_FONT_MENU: "JetBrains Mono",monospace;
$COPYRIGHT_FONT: $HEADER_FONT_MENU;

$RADIUS: 5px;
$SECTION_GAP: 50px;
