@forward 'mixins';
@forward 'var';
@forward 'font-scale';

@use 'var';

%flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

%btn-group {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    row-gap: 0.5rem;
}

%card-bodering {
    background-color: var(--md-sys-color-secondary-container);
    color: var(--md-sys-color-on-secondary-container);
}

%menu-l-wrapper {
    position: relative;
    width: 80%;
    line-height: initial;
    color: var(--md-sys-color-on-background);
}

%common_border {
    border: 1px solid var(--md-sys-color-outline-variant);
}
