@forward 'mixins';
@forward 'var';

%flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

%btn-group {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    row-gap: 0.5rem;
}
